th.header {
  border-right: 1px solid black; 
}   
th.headerSortUp {
  background-image: url(../images/up.gif);  
  background-repeat: no-repeat;
  background-position: right;  
  background-color: #3399FF;
  } 
th.headerSortDown {
  background-image: url(../images/down.gif);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #3399FF;   
}  
